<!-- <app-header (onNavClicked)="navClicked($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-recipes *ngIf='showPage === "recipes"'></app-recipes>

      <app-shopping-list *ngIf='showPage === "shopping-list"'></app-shopping-list>
      
      OR <app-shopping-list *ngIf='showPage !== "recipes"'></app-shopping-list>

    </div>
  </div>
</div> -->

<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">

   <router-outlet></router-outlet>
      
    </div>
  </div>
</div>